<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            factory-class="uk.ac.reading.cs.knime.silhouette.SilhouetteNodeFactory"
            id="uk.ac.reading.cs.knime.silhouette.SilhouetteNodeFactory"/>
   </extension>
   
</plugin>
